<div class="navigation-wrapper">
    <div class="site-name">
        <a href="{{ SITEURL }}">{{ SITENAME }} <span class="hilite">MRes</span></a>
    </div><!-- /.site-name -->
    <div class="top-navigation">
        <nav role="navigation" id="site-nav" class="nav">
            <ul>
                {% for title, link in MENUITEMS %}
                <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
                {% if DISPLAY_PAGES_ON_MENU %}
                {% for p in PAGES %}
                <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                {% endfor %}
                {% endif %}
                {% for cat, null in categories %}
                {% if cat in ['publications','conferences'] %}<li class="{% if cat == category %} active{% endif %}"><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }} <span class="hilite">({{ null|length }})</span></a></li>{% endif %}
                {% endfor %}
            </ul>

            {% if DISPLAY_CATEGORIES_ON_MENU %}
            <ul>
                {% for cat, null in categories %}
                {% if cat not in ['publications','conferences'] %}<li class="{% if cat == category %} active{% endif %}"><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }} <span class="hilite">({{ null|length }})</span></a></li>{% endif %}
                {% endfor %}
            </ul>
            {% endif %}

        </nav>
    </div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->