{% extends "sidebar.html" %}
{% block content %}
<div class="row">
	<div class="9u">
        <section>
            <div>
                <div class="row">
                    <div class="12u skel-cell-mainContent">
                        <!-- Content -->
                            <article class="box is-post">
                                <!-- {% if article.picture %}<div class="image image-full"><img src="{{ SITEURL }}/{{ article.picture }}"/><a href="{{ article.picturecopyrights }}" class="img-copy">{{ article.picturecopyrights }}</a></div>{% endif %} -->
                                <h2>{{ article.title }}</h2>
                                <div class="metadata">Posted {% if article.category %}in <a  href="{{ article.category.url }}">{{ article.category|capitalize }}</a>{% endif %} on {{ article.locale_date }} &#8226;
                                   Tagged {% for tag in article.tags %}<a href="{{ tag.url }}">{{ tag|capitalize }}</a>{% if not loop.last%}, {% endif %}{% endfor %}
                                </div>

                                {{ article.content }}
                            </article>
                            {% include 'disqus_script.html' %}
                    </div>
                </div>
            </div>
        </section>
	</div>
{{ super() }}
</div>
{% endblock %}


{% block comments %}
<div id="main-wrapper">
    <div class="container">
        <div class="row">
        <div class="large-12 columns">

    {% if DISQUS_SITENAME %}
    <div id="disqus_thread" class="box"></div>
    <script type="text/javascript">
        var disqus_shortname = '{{ DISQUS_SITENAME }}';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    </div></div>
</div></div>
    {% endif %}

{% endblock %}