{% extends 'base.html' %}
{% block title %}{{ article.title|striptags }} &#8211; {% endblock title %}
{% block summary %}{{ article.summary }}{% endblock summary %}
{% block keywords %}{{ article.tags.join(', ') }}{% endblock keywords %}

{% block feature_image %}
 {% if article.picture %}
  <div class="image-wrap">
  <img src=
    {% if 'http' in article.picture %}
      "{{ article.picture }}"
    {% else %}
      "{{ STATICURL }}/{{ article.picture }}"
    {% endif %}
  alt="{{ article.title|striptags }} feature image">
  {% if article.picture_credit %}
    <span class="image-credit">Photo Credit: <a href="{{ article.picture_credit_url }}">{{ article.image.picture_credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
 {% endif %} 
{% endblock feature_image %}

{% block content %}
  <article class="post">
    <div class="headline-wrap">
    <h1>
        {% if article.link %}
            <a href="{{ article.link }}" rel="bookmark" title="{{ article.title|striptags }}">{{ article.title }}</a>
        {% else %}
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title|striptags }}">{{ article.title }}</a>
        {% endif %}
    </h1>
    </div><!--/ .headline-wrap -->

     {% include '_byline.html' %}
    
    <div class="article-wrap {% if article.type %}article-wrap-{{ article.type }}{% endif %}">
      {{ article.content }}
      <hr />
      
      <footer role="contentinfo">
        <div class="article-author-bottom">
          {% include '_author-bio.html' %}
        </div>
        <p class="byline">
            <strong>{{ article.title }}</strong> was published in <a href="{{ SITEURL }}/category/{{ article.category }}">{{ article.category }}</a> on <time datetime="{{ article.date.isoformat() }}">{{ article.date|strftime("%B %d, %Y") }}</time>
            and tagged {% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last%}, {% endif %}{% endfor %}    
        </p>

         <p class="byline">
          {% if article.series %}
                This post is part {{ article.series.index }} of the "{{ article.series.name }}" series:
                <ol class="parts" style="font-size:small; margin-top:-1rem;">
                    {% for part_article in article.series.all %}
                        <li {% if part_article == article %}class="active"{% endif %}>
                            <a href='{{ SITEURL }}/{{ part_article.url }}'>{{ part_article.title }}</a>
                        </li>
                    {% endfor %}
                </ol>
            {% endif %}
         </p>
         
      </footer>
    </div><!-- /.article-wrap -->
    <div class="ps">
    <strong>P.S.</strong> If you liked this, you might enjoy my infrequent newsletter,
    where you can get access to my latest Python courses and ebooks with discounts! <a href="http://eepurl.com/bNx2Fr">Sign up here</a>.
    </div>
  {% if DISQUS_SITENAME %}
    <section id="disqus_thread"></section><!-- /#disqus_thread -->
  {% endif %}
  </article>
{% endblock content %}

{% block disqus %}
{% include '_disqus_comments.html' %}
{% endblock disqus %}

{% block github %}
{% if article.github %}
<a href="https://github.com/{{ article.github }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
{% endif %}
{% endblock github %}
