{% extends 'base.html' %}
{% block title %}{{ article.title|striptags }} | {{ SITENAME }}{% endblock title %}
{% block summary %}{{ article.summary }}{% endblock summary %}
{% block keywords %}{{ article.tags.join(', ') }}{% endblock keywords %}
{% block tagstyles %}{% for tag in article.tags %}tag-{{ tag }} {% endfor %}{% endblock %}

{% block feature_image %}
 {% if article.picture %}
  <div class="image-wrap">
  <img src=
    {% if 'http' in article.picture %}
      "{{ article.picture }}"
    {% else %}
      "{{ STATICURL }}/{{ article.picture }}"
    {% endif %}
  alt="{{ article.title|striptags }} feature image">
  {% if article.picture_credit %}
    <span class="image-credit">Photo Credit: <a href="{{ article.picture_credit_url }}">{{ article.image.picture_credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
 {% endif %} 
{% endblock feature_image %}

{% block content %}
  <article class="post">
    <div class="headline-wrap">
    <h1>
        {% if article.link %}
            <a href="{{ article.link }}" rel="bookmark" title="{{ article.title|striptags }}">{{ article.title }}</a>
        {% else %}
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title|striptags }}">{{ article.title }}</a>
        {% endif %}
    </h1>
    </div><!--/ .headline-wrap -->

     {% include '_byline.html' %}
    
    
    {% block ad_top %}
    {% if (page and 'top' in page.ads) or (article and 'top' in article.ads) %}
    <div style="width:728px; margin:auto;">

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-3287067876809234"
         data-ad-slot="4700067825"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </div>
    {% endif %}
    {% endblock ad_top %}
    
    
    <div class="article-wrap {% if article.type %}article-wrap-{{ article.type }}{% endif %} article-main-body">
      {{ article.content }}
    </div>
    <div class="article-wrap">

<!--
      <div class="purchase">
      {% if article.gumroad %}
        <a class="gumroad-button" href="https://gum.co/{{ article.gumroad  }}">Buy this {{ article.type }}</a>
      {% endif %}
      </div>
-->

      <hr />
      

      
      <footer role="contentinfo">
        <p class="byline">
            <strong>{{ article.title }}</strong> was published in <a href="{{ SITEURL }}/category/{{ article.category }}">{{ article.category }}</a> on <time datetime="{{ article.date.isoformat() }}">{{ article.date|strftime("%B %d, %Y") }}</time>
            and tagged {% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last%}, {% endif %}{% endfor %}    
            {% if article.series %}This article is part {{ article.series.index }} of the {{ article.series.name }} series.{% endif %}

        </p>

      </footer>
    </div><!-- /.article-wrap -->




    <div class="follow-form-bottom">
    <label for="email">Enjoy this? Follow me for more of the same.</label>
    <form action="https://gumroad.com/follow_from_embed_form" class="form gumroad-follow-form-embed" method="post">
    <input name="seller_id" type="hidden" value="2358522278831">
    <input name="email" placeholder="Your email address" type="email">
    <button data-custom-highlight-color="" type="submit">Follow</button>
    </form>
    </div>
    
    
    <section id="disqus_thread"></section><!-- /#disqus_thread -->
    
    
    {% block ad_bottom %}
    {% if (page and 'bottom' in page.ads) or (article and 'bottom' in article.ads) %}
    <div style="width:728px; margin:auto;">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Leaderboard (bottom) -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-3287067876809234"
         data-ad-slot="1607000620"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </div>
    {% endif %}
    {% endblock ad_bottom %}    


      {% if article.series %}
        <h3>In this series</h3>
            <ol class="parts" style="font-size:small; margin-top:-1rem;">
                {% for part_article in article.series.all %}
                    <li {% if part_article == article %}class="active"{% endif %}>
                        <a href='{{ SITEURL }}/{{ part_article.url }}'>{{ part_article.title }}</a>
                    </li>
                {% endfor %}
            </ol>
    {% elif article.related_posts %}
        <h3>Related posts</h3>
        <ul>
        {% for related_post in article.related_posts %}
            <li><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}    




  </article>
{% endblock content %}


{% block disqus %}
{% include '_disqus_comments.html' %}
{% endblock disqus %}

{% block github %}
{% if article.github %}
<a href="https://github.com/{{ article.github }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
{% endif %}
{% endblock github %}
