<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
		{% block head %}
		<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
		<meta charset="utf-8" />
		<link rel="profile" href="http://gmpg.org/xfn/11" />

        <link rel="shortcut icon" href="{{ SITEURL }}/favicon.ico" />

        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/foundation/css/foundation.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/foundation/webicons/fc-webicons.css" />

        <script src="{{ MEDIA_URL }}foundation/js/vendor/custom.modernizr.js"></script>

        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/general_foundicons.css" />
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/social_foundicons.css" />

		<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
		<link rel='stylesheet' id='oswald-css'  href='http://fonts.googleapis.com/css?family=Oswald&#038;ver=3.3.2' type='text/css' media='all' />

        <meta name="google-site-verification" content="Ogw6ZN_S7dzUc9huqkiLOeI_BH8F__4Ft8pNXQVU1Cw" />
        <meta name="google-site-verification" content="tnbPDWRORDk2SjXzRhyh5HOarf2hDojT07FQS2zcMUY" />
        <meta name="google-site-verification" content="2DFeXMiIAIVr20q8LLteYxffew35Pp89MXa7Hyy0_IM" />
        <meta name="google-site-verification" content="aDPLnwleWQc6nHK2vIMKXY5kUBDHFUPNJ75QcdcdEss" />

        <meta name="description" content="Articles, software, protocols and how-tos from a final-year PhD student working on the metabolomics of inflammatory diseases.">
        <meta name="keywords" content="martin fitzpatrick,metabolomics,bioinformatics,python,github,mac,linux,pelican">

		<style type="text/css">
			body.custom-background { background-color: #f5f5f5; }
		</style>
		<link rel="alternate" type="application/atom+xml"
			title="{{ SITENAME }} — Flux Atom"
			href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" /> 
		{% if FEED_RSS %}
		<link rel ="alternate" type="application/rss+xml"
			title="{{ SITENAME }} — Flux RSS"
			href="{{ SITEURL }}/{{ FEED_RSS }}" /> 
		{% endif %}
		<!--[if lte IE 8]><script src="{{ SITEURL }}/theme/js/html5shiv.js"></script><![endif]-->
		{% if MINT %}
		<script src="/mint/?js" type="text/javascript"></script>
		{% endif %}
		{% endblock head %}
</head>

<body class="home blog" >


<div class="contain-to-grid sticky">
<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="http://martinfitzpatrick.name">Martin Fitzpatrick <span class="lowlight">MRes</span></a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">

    <!-- Right Nav Section -->
    <ul class="right root">
      <li class="divider hide-for-small"></li>

      <li><a href="/">Home</a></li>

	  {% for p in PAGES %}
		<li{% if p == page %} class="active"{% endif %} class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
	  {% endfor %}

      <li class="has-dropdown"><a href="#">Articles</a>
        <ul class="dropdown">
			{% if DISPLAY_CATEGORIES_ON_MENU %}
			  {% for cat, null in categories %}
				<li{% if cat == category %} class="active"{% endif %} class="menu-item menu-item-type-post_type menu-item-object-page has-inline-counter"><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }} <span class="inline-counter"></span><span class="inline-counter-right radius secondary label ">{{ null|length }}</span></a></li>
			  {% endfor %}
			{% endif %}
        </ul>

      </li>

	  {% for title, link in MENUITEMS %}
		    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{ link }}">{{ title }}</a></li>
	  {% endfor %}


      <li class="has-dropdown"><a href="#">Links</a>
        <ul class="dropdown">
			{% if LINKS %}
			  {% for name, url in LINKS %}
				<li class="active" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{ url }}">{{ name }}</a></li>
			  {% endfor %}
			{% endif %}
            </ul>
        </li>

    </ul>
  </section>
</nav>
</div>
{% if page_name == 'index' %}
    <div class="image-header">
        <div class="image-header-row row">
        <div class="large-7 columns image-header-overlay">
            <h1>Postgraduate Researcher in Metabolomics</h1>            
            <h6>
                <a href="{{ SITEURL }}/category/bioinformatics">Bioinformatics</a> | 
                <a href="{{ SITEURL }}/category/immunology">Immunology</a> |
                <a href="{{ SITEURL }}/tag/python">Python</a> |
                <a href="{{ SITEURL }}/category/web-dev">Web Dev</a>
            </h6>
        </div>
        </div>
    </div>
{% endif %}

<div class="row">
<div class="large-12 columns" id="menu">
		<ul id="menu-navigation" class="menu links">
			{% if SOCIAL %}
			  {% for name, icon, url in SOCIAL %}
				<li class="active" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{ url }}" class="social-label-{{ icon }}"><i class="social foundicon-{{ icon }}"></i> {{ name }}</a></li>
			  {% endfor %}
			{% endif %}
        </ul>

</div>

    <div class="row">
        <div class="large-9 large-offset-3 columns">
		
		<div class="page-title">
			{% block content_title %}{% endblock %}
		</div>
	
		<div id="contents">
			{% block content %}
			{% endblock %}
		</div>


		
		</div><!-- /#columns -->
	</div><!-- /#row -->


        <div class="row">
        <div class="large-12 columns" id="footer">


			<p>
                &copy;2012-2013 <a href="http://martinfitzpatrick.name">Martin Fitzpatrick</a> Licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a> and <a href="http://www.gnu.org/licenses/gpl-3.0.html">GPLv3</a>
                &bull; {{ FOOTER_TEXT or 'Powered by <a href="http://pelican.readthedocs.org">Pelican</a>' }}
                &bull; Hosted by <a href="http://www.webfaction.com?affiliate=spenglr">Webfaction</a>
			</p>
			{% if GOOGLE_ANALYTICS %}
				<script type="text/javascript">
					var _gaq = _gaq || [];
					_gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS }}']);
					_gaq.push(['_trackPageview']);
					(function() {
						var ga = document.createElement('script'); 
						ga.type = 'text/javascript'; ga.async = true;
						ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
						var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
					})();
				</script>
			{% endif %}
			{% if DISQUS_SITENAME %}
				{% include 'disqus_script.html' %}
			{% endif %}



		</div><!-- /#columns -->
	</div><!-- /#row -->

</body>
</html>
