{% extends 'base.html' %}

{% block feature_image %}
{% if page_name == 'index' %}
  <div class="image-wrap">
  <img src="{{ STATICURL }}/theme/images/home-photo-bw.jpg">
  </div><!-- /.image-wrap -->
{% endif %}
{% endblock %}

{% block content %}
  <div id="index">
    <!-- <h3><a href="{{ SITEURL }}/articles/">Recent articles</a></h3> -->
    {% for article in articles_page.object_list %} 
    <article>
    {% if article.link %}
        <h3 class="link-article"><a href="{{ article.link }}" title="{{ article.title|striptags }}">{{ article.title }} {% if article.type and article.type == 'publication' %}<i class="fa fa-book"></i>{% endif %}</a> <a href="{{ article.link }}" target="_blank" title="{{ article.title|striptags }}"><i class="fa fa-link"></i></a></h3>

         {% if article.type and article.type == 'publication' %}
            <p class="byline"><strong>{% for author in article.authors %}{{ author }}{% if not loop.last %}, {% endif %}{% endfor %}</strong>. Published in <a href="{{ article.link }}">{{ article.journal }}</a> on <time datetime="{{ article.date.isoformat() }}">{{ article.date|strftime("%B %d, %Y") }}</time>
            {% if article.doi %}<a href="http://dx.doi.org/{{ article.doi }}">doi:{{ article.doi }}</a> {% endif %}
            {% if article.pmid %}<a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ article.pmid }}">pmid:{{ article.pmid }}</a> {% endif %}
            {% if article.isbn %}isbn:{{ article.isbn }} {% endif %}</p>

            <p>{{ article.content }}</p>

         {% endif %}
        
    {% else %}
        <h3><a href="{{ SITEURL }}/{{ article.url }}" title="{{ article.title|striptags }}">{{ article.title }}</a> <small>{{ article.date.strftime('%d.%m.%Y') }}</small></h3>
        <p>{{ article.summary|striptags }}</p>
    {% endif %}
    </article>
    <hr />
    {% endfor %}

    {% if DEFAULT_PAGINATION %}
        <p class="paginator">
        {% if articles_page.has_previous() %}
        {% if articles_page.previous_page_number() == 1 %}
        <a href="{{ SITEURL }}/{{ page_name }}.html#content">&laquo;</a>
        {% else %}
        <a href="{{ SITEURL }}/{{ page_name }}index{{ articles_page.previous_page_number() }}.html#content">&laquo;</a>
        {% endif %}
        {% endif %}
        Page {{ articles_page.number }} / {{ articles_paginator.num_pages }}
        {% if articles_page.has_next() %}
        <a href="{{ SITEURL }}/{{ page_name }}index{{ articles_page.next_page_number() }}.html#content">&raquo;</a>
        {% endif %}
        </p>
    {% endif %}
    
    
  </div><!-- /#index -->

{% endblock %}
