{% extends 'base.html' %}

{% block title %}
{% if page_name != 'index' %}
    {% if category %}{{ category|title }} {% elif tag %}Tagged {{ tag|title }} {% endif %}
    {% if articles_page and articles_paginator.num_pages > 1 %} ({{ articles_page.number }}) {% endif %}
 &#8211;
 {% endif %}
 {% endblock %}

{% block content %}
  <div class="index">
    <!-- <h3><a href="{{ SITEURL }}/articles/">Recent articles</a></h3> -->
    {% for article in articles_page.object_list %} 
    <article class="{% if article.image %}article-with-image{% endif %}">
        {% if article.image %}
            <a {% if article.link %}href="{{ article.link }}" target="_blank"{% else %}href="{{ SITEURL }}/{{ article.url }}"{% endif %} title="{{ article.title|striptags }}">
                <img src="{{ STATICURL }}/{{ article.image }}" class="article-image" alt="{{ article.title|striptags }}">
            </a>
        {% endif %}
        <h3><a href="{{ SITEURL }}/{{ article.url }}" title="{{ article.title|striptags }}">{{ article.title }}</a> 
        {% if article.type %}
            {% if article.type == 'publication' %}<i class="fa fa-file-text-o" title="Publication"></i> {% endif %}
            {% if article.type == 'presentation' %}<i class="fa fa-users" title="Presentation"></i> {% endif %}
            {% if article.type == 'poster' %}<i class="fa fa-file-image-o" title="Poster"></i> {% endif %}

            {% if article.type == 'course' %}<i class="fa fa-graduation-cap" title="Course"></i> {% endif %}
            {% if article.type == 'book' %}<i class="fa fa-book" title="Book"></i> {% endif %}

            {% if article.type == 'software' %}<i class="fa fa-floppy-o" title="Software"></i> {% endif %}
            {% if article.type == 'game' %}<i class="fa fa-gamepad" title="Game"></i> {% endif %}

            {% if article.type == 'notebook' %}<i class="fa fa-file-code-o" title="Notebook"></i> {% endif %}

            {% if article.type == 'stackoverflow' %}<i class="fa fa-stack-overflow" title="Notebook"></i> {% endif %}
        {% endif %}

        </a>
        {% if article.download %}<a href="{{ article.download }}" target="_blank" title="{{ article.title|striptags }}"><i class="fa fa-download"></i></a> {% endif %}
        {% if article.link %}<a href="{{ article.link }}" target="_blank" title="{{ article.title|striptags }}"><i class="fa fa-external-link"></i></a> {% endif %}

        {% if not article.type or article.type and article.type not in ['course','software','book'] %}
            <small>{{ article.date.strftime('%d.%m.%Y') }}</small>
        {% endif %}
        </h3>

        {% include '_byline.html' %}

        {% if not article.type or article.type not in ['publication', 'poster', 'presentation', 'course','book'] %}
            <p>{{ article.summary|striptags }} <a href="{{ SITEURL }}/{{ article.url }}" title="{{ article.title|striptags }}">More <i class="fa fa-hand-o-right"></i></a></p>
        {% elif article.type in ['publication','poster','presentation'] %}
            <p>{{ article.content }}</p>
        {% endif %}
        
    </article>
    <hr />
    {% endfor %}

    {% if DEFAULT_PAGINATION %}
        <p class="paginator">
        {% if articles_page.has_previous() %}
        {% if articles_page.previous_page_number() == 1 %}
        <a href="index.html#content">&laquo;</a>
        {% else %}
        <a href="index{{ articles_page.previous_page_number() }}.html#content">&laquo;</a>
        {% endif %}
        {% endif %}
        Page {{ articles_page.number }} / {{ articles_paginator.num_pages }}
        {% if articles_page.has_next() %}
        <a href="index{{ articles_page.next_page_number() }}.html#content">&raquo;</a>
        {% endif %}
        </p>
    {% endif %}
    
    
  </div><!-- /#index -->

{% endblock %}
