{% extends 'base.html' %}
{% block title %}{{ page.title|striptags }} &#8211; {% endblock %}

{% block feature_image %}
 {% if page.picture %}
  <div class="image-wrap">
  <img src=
    {% if 'http' in page.picture %}
      "{{ page.picture }}"
    {% else %}
      "{{ SITEURL }}/{{ page.picture }}"
    {% endif %}
  alt="{{ page.title|striptags }} feature image">
  {% if page.picture_credit %}
    <span class="image-credit">Photo Credit: <a href="{{ article.picture_credit_url }}">{{ article.image.picture_credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
 {% endif %}
{% endblock %}

{% block content %}
  <article class="page">
  
    <h1>{{ page.title }}</h1>

    {% block ad_top %}
    {% if (page and 'top' in page.ads) or (article and 'top' in article.ads) %}
    <div style="width:728px; margin:auto;">

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-3287067876809234"
         data-ad-slot="4700067825"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </div>
    {% endif %}
    {% endblock ad_top %}

    <div class="article-wrap">
      {{ page.content }}
    </div><!-- /.article-wrap -->
    
    
    {% block ad_bottom %}
    {% if (page and 'bottom' in page.ads) or (article and 'bottom' in article.ads) %}
    <div style="width:728px; margin:auto;">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Leaderboard (bottom) -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-3287067876809234"
         data-ad-slot="1607000620"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </div>
    {% endif %}
    {% endblock ad_bottom %}       
    
  </article>
{% endblock %}

{% block github %}
{% if page.github %}
<a href="https://github.com/{{ page.github }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
{% endif %}
{% endblock %}

{% block comments %}{{ page.metadata.googleplus_comments }}{% endblock %}