{% extends 'base.html' %}
{% block title %}{{ page.title }} &#8211; {% endblock %}

{% block feature_image %}
 {% if page.picture %}
  <div class="image-wrap">
  <img src=
    {% if 'http' in page.picture %}
      "{{ page.picture }}"
    {% else %}
      "{{ SITEURL }}/{{ page.picture }}"
    {% endif %}
  alt="{{ page.title|striptags }} feature image">
  {% if page.picture_credit %}
    <span class="image-credit">Photo Credit: <a href="{{ article.picture_credit_url }}">{{ article.image.picture_credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
 {% endif %}
{% endblock %}

{% block content %}
  <article class="page">
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
      {{ page.content }}
    </div><!-- /.article-wrap -->
    {% if DISQUS_SITENAME and page.comments == true %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
{% endblock %}