{% extends "base.html" %}

{% block content %}
    <div class="3u">

    <!-- Sidebar -->
        <section class="box">
            <a href="http://martinfitzpatrick.name" class="image image-full"><img src="{{ STATICURL }}/theme/images/author-photo.jpg" alt="" /></a>
            <header>
                <h3>{{ AUTHOR }}</h3>
            </header>
            <p>{{ AUTHOR_ABOUT }}</p>
            <footer class="actions">
                <a href="{{ SITEURL }}/about/" class="button button-alt">Read more</a>
            </footer>
        </section>
        
    <ul>
    </ul>
    {% if article and article.related_posts %}
        <section class="box">
            <header>
                <h3>Related posts</h3>
            </header>
            <ul class="divided">
            {% for related_post in article.related_posts %}
                <li><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></li>
            {% endfor %}
            </ul>
        </section>
    {% endif %}        

    </div>	
{% endblock %}