Options +FollowSymLinks -Indexes 
RewriteEngine On

# Rewrite ancient dud urls to new format
RewriteRule ^methods/42/(.*) /blog/in-situ-hybridisation-to-alpha-satellite-sequences [R=301,L]
RewriteRule ^methods/1535/(.*) /blog/install-haiku-under-mac-os-x-with-virtualbox [R=301,L]
RewriteRule ^methods/1511/(.*) /blog/purification-of-anti-peptide-antibody [R=301,L]
RewriteRule ^methods/1341/(.*) /blog/pm-buffer [R=301,L]
RewriteRule ^methods/13/(.*) /blog/primary-monocyte-differentiation-dcs-gm-csfil-4 [R=301,L]
RewriteRule ^methods/1418/(.*) /blog/2x-rapid-ligation-buffer [R=301,L]
RewriteRule ^methods/27/(.*) /blog/carnoys-fluid-fixation [R=301,L]
RewriteRule ^methods/1509/(.*) /blog/microtubule-spindowns-from-extracts [R=301,L]
RewriteRule ^methods/1456/(.*) /blog/8-paraformaldehyde-for-immunofluorescence [R=301,L]
RewriteRule ^methods/1433/(.*) /blog/embryo-4d-microscopy-mounting [R=301,L]
RewriteRule ^methods/1503/(.*) /blog/execute-last-command-as-root [R=301,L]
RewriteRule ^methods/1442/(.*) /blog/chemiluminescent-detection [R=301,L]
RewriteRule ^methods/34/(.*) /blog/ethanol-fixation-for-flow-cytometry [R=301,L]
RewriteRule ^methods/1368/(.*) /blog/05-m-na2co3 [R=301,L]
RewriteRule ^methods/1358/(.*) /blog/100-mm-mggtp [R=301,L]
RewriteRule ^methods/1534/(.*) /blog/find-all-files-containing-a-given-string [R=301,L]
RewriteRule ^methods/1361/(.*) /blog/36-mm-brefeldin-a [R=301,L]
RewriteRule ^methods/1539/(.*) /blog/speed-up-matlab-on-macos-x [R=301,L]
RewriteRule ^methods/1340/(.*) /blog/mounting-media [R=301,L]
RewriteRule ^methods/1516/(.*) /blog/get-file-type-information-from-the-command-line [R=301,L]
RewriteRule ^methods/51/(.*) /blog/retroviral-infection-of-phks [R=301,L]
RewriteRule ^methods/1394/(.*) /blog/heparan-sulfate-chain-analysis [R=301,L]
RewriteRule ^methods/1353/(.*) /blog/05-m-edta [R=301,L]
RewriteRule ^methods/1497/(.*) /blog/use-gnome-looking-glass-for-debugging [R=301,L]
RewriteRule ^methods/21/(.*) /blog/10x-tris-buffer [R=301,L]
RewriteRule ^methods/1463/(.*) /blog/x-gal-overlay-assay-for-yeast-plates [R=301,L]
RewriteRule ^methods/1356/(.*) /blog/1-m-kcl-stock [R=301,L]
RewriteRule ^methods/1354/(.*) /blog/05-m-egta-stock [R=301,L]
RewriteRule ^methods/1347/(.*) /blog/homogenization-buffer [R=301,L]
RewriteRule ^methods/1499/(.*) /blog/csf-extract-prep-for-spindle-assembly [R=301,L]
RewriteRule ^methods/38/(.*) /blog/dapi-counterstain-adherent-cellssections [R=301,L]
RewriteRule ^methods/1518/(.*) /blog/get-a-list-of-all-processes-not-run-by-you [R=301,L]
RewriteRule ^methods/1538/(.*) /blog/using-email-to-sms-gateways-to-send-free-sms [R=301,L]
RewriteRule ^methods/1496/(.*) /blog/debug-gnome-shell [R=301,L]
RewriteRule ^methods/1513/(.*) /blog/piping-between-shells [R=301,L]
RewriteRule ^methods/48/(.*) /blog/brdu-incorporation-for-raft-cultures [R=301,L]
RewriteRule ^methods/1379/(.*) /blog/determining-dna-concentrations-for-ligations [R=301,L]
RewriteRule ^methods/120/(.*) /blog/dna-extraction-from-agarose-gels-dialysis-tubing [R=301,L]
RewriteRule ^methods/50/(.*) /blog/collagen-gel-containing-3t3-fibroblasts [R=301,L]
RewriteRule ^methods/1344/(.*) /blog/isolation-buffer [R=301,L]
RewriteRule ^methods/1357/(.*) /blog/10-m-naoh [R=301,L]
RewriteRule ^methods/1383/(.*) /blog/lacritin-stimulated-cell-proliferation-assay [R=301,L]
RewriteRule ^methods/1427/(.*) /blog/bacterial-mediated-rnai [R=301,L]
RewriteRule ^methods/45/(.*) /blog/transformation-of-plasmid-dna-to-e-coli [R=301,L]
RewriteRule ^methods/1507/(.*) /blog/use-ifconfigme-to-return-your-ip-and-host [R=301,L]
RewriteRule ^methods/1460/(.*) /blog/measuring-dna-contour-lengths-with-imagej [R=301,L]
RewriteRule ^methods/1387/(.*) /blog/transformation-of-xli-blue-mrf-competent-cells [R=301,L]
RewriteRule ^methods/1512/(.*) /blog/fixingpelleting-chromatin-for-immunofluorescence [R=301,L]
RewriteRule ^methods/9/(.*) /blog/b-cell-enrichment-via-dynabeads [R=301,L]
RewriteRule ^methods/41/(.*) /blog/apes-treatment-of-slides [R=301,L]
RewriteRule ^methods/1419/(.*) /blog/5x-long-pcr-buffer [R=301,L]
RewriteRule ^methods/1362/(.*) /blog/30-x-naf [R=301,L]
RewriteRule ^methods/1424/(.*) /blog/ems-mutagenesis [R=301,L]
RewriteRule ^methods/1525/(.*) /blog/syntax-highlighting-with-django-and-markdown [R=301,L]
RewriteRule ^methods/1372/(.*) /blog/lacritin-ip3-assay [R=301,L]
RewriteRule ^methods/1447/(.*) /blog/immunohistochemistry-cultured-cellsmonolayers [R=301,L]
RewriteRule ^methods/1437/(.*) /blog/c-elegans-single-worm-pcr [R=301,L]
RewriteRule ^methods/1360/(.*) /blog/5-m-nacl [R=301,L]
RewriteRule ^methods/1359/(.*) /blog/100-mm-mgatp-stock [R=301,L]
RewriteRule ^methods/1457/(.*) /blog/haemotoxylin-and-eosin-staining [R=301,L]
RewriteRule ^methods/1471/(.*) /blog/show-warning-in-prompt-when-shell-loses-directory [R=301,L]
RewriteRule ^methods/1438/(.*) /blog/plc-buffer-for-immunoprecipitation [R=301,L]
RewriteRule ^methods/1531/(.*) /blog/display-external-rss-feeds-on-your-wordpress-blog [R=301,L]
RewriteRule ^methods/35/(.*) /blog/formaldehyde-fixation-for-flow-cytometry [R=301,L]
RewriteRule ^methods/1523/(.*) /blog/remove-duplicate-lines-from-text-files-with-sort [R=301,L]
RewriteRule ^methods/1514/(.*) /blog/find-all-running-processes-of-a-program [R=301,L]
RewriteRule ^methods/1454/(.*) /blog/sodium-citrate-buffer [R=301,L]
RewriteRule ^methods/1339/(.*) /blog/pbs-5x-in-500-mls [R=301,L]
RewriteRule ^methods/43/(.*) /blog/retrovirus-titration [R=301,L]
RewriteRule ^methods/1384/(.*) /blog/tear-collection-method [R=301,L]
RewriteRule ^methods/1346/(.*) /blog/10-x-column-buffer [R=301,L]
RewriteRule ^methods/30/(.*) /blog/neutral-buffered-formalin-fixation [R=301,L]
RewriteRule ^methods/1421/(.*) /blog/01-m-glycine-hcl-ph-27 [R=301,L]
RewriteRule ^methods/1367/(.*) /blog/3-m-ki [R=301,L]
RewriteRule ^methods/1469/(.*) /blog/silica-suspension-for-plasmid-recovery [R=301,L]
RewriteRule ^methods/1439/(.*) /blog/c-elegans-immunoprecipitation [R=301,L]
RewriteRule ^methods/1342/(.*) /blog/valap [R=301,L]
RewriteRule ^methods/25/(.*) /blog/acetic-alcohol-fixation [R=301,L]
RewriteRule ^methods/1495/(.*) /blog/6x-dna-loading-buffer-for-agarose [R=301,L]
RewriteRule ^methods/1449/(.*) /blog/cresyl-violet-staining-nissl-staining [R=301,L]
RewriteRule ^methods/1515/(.*) /blog/reload-bash_profile-without-logging-out [R=301,L]
RewriteRule ^methods/1431/(.*) /blog/t-a-cloning-vectors [R=301,L]
RewriteRule ^methods/1472/(.*) /blog/add-git-branch-name-to-terminal-prompt-mac [R=301,L]
RewriteRule ^methods/1466/(.*) /blog/using-a-gel-doc-system [R=301,L]
RewriteRule ^methods/1364/(.*) /blog/30-mm-mg-gtp-g-s [R=301,L]
RewriteRule ^methods/29/(.*) /blog/hellys-fluid-fixation [R=301,L]
RewriteRule ^methods/1537/(.*) /blog/customize-directory-colors [R=301,L]
RewriteRule ^methods/1493/(.*) /blog/cell-culture-freezing-media [R=301,L]
RewriteRule ^methods/1458/(.*) /blog/neuron-recovery-of-neurobiotinbiocytin-cells [R=301,L]
RewriteRule ^methods/1532/(.*) /blog/highlight-authors-comments-on-wordpress-blog [R=301,L]
RewriteRule ^methods/1465/(.*) /blog/lb-agar-plates [R=301,L]
RewriteRule ^methods/1371/(.*) /blog/cell-adhesion [R=301,L]
RewriteRule ^methods/33/(.*) /blog/zenkers-fluid-fixation [R=301,L]
RewriteRule ^methods/1430/(.*) /blog/c-elegans-total-genomic-dna-preparation [R=301,L]
RewriteRule ^methods/1389/(.*) /blog/excision-of-clones-as-pbluescript-from-lzapii [R=301,L]
RewriteRule ^methods/17/(.*) /blog/metabolite-extraction-from-supernatant-cells [R=301,L]
RewriteRule ^methods/18/(.*) /blog/100mm-tris-buffer [R=301,L]
RewriteRule ^methods/1335/(.*) /blog/isolation-of-ldl-from-human-plasma [R=301,L]
RewriteRule ^methods/16/(.*) /blog/generic-quantitative-sandwich-elisa [R=301,L]
RewriteRule ^methods/1470/(.*) /blog/setup-android-development-with-eclipse-on-mac [R=301,L]
RewriteRule ^methods/1432/(.*) /blog/cosmid-low-copy-plasmid-prep [R=301,L]
RewriteRule ^methods/1462/(.*) /blog/dot-blot-analysis-with-imagej [R=301,L]
RewriteRule ^methods/1349/(.*) /blog/pbs-1x-in-1l [R=301,L]
RewriteRule ^methods/1529/(.*) /blog/change-the-desktop-directory-on-linux [R=301,L]
RewriteRule ^methods/1440/(.*) /blog/transformation-of-frozen-saccharomyces-cerevisiae [R=301,L]
RewriteRule ^methods/23/(.*) /blog/preparation-for-microdissection-polyester [R=301,L]
RewriteRule ^methods/1510/(.*) /blog/testing-rabbit-bleeds-by-elisa [R=301,L]
RewriteRule ^methods/1390/(.*) /blog/rotary-shadowing [R=301,L]
RewriteRule ^methods/1533/(.*) /blog/django-ajax-threaded-comments-using-only-jquery [R=301,L]
RewriteRule ^methods/1386/(.*) /blog/preparation-of-competent-xli-blue-mrf-cells [R=301,L]
RewriteRule ^methods/39/(.*) /blog/cells-in-suspension [R=301,L]
RewriteRule ^methods/1429/(.*) /blog/frozen-yeast-competent-cells [R=301,L]
RewriteRule ^methods/1343/(.*) /blog/20-x-energy-regeneration-system [R=301,L]
RewriteRule ^methods/1453/(.*) /blog/mowiol-aqueous-mounting-media [R=301,L]
RewriteRule ^methods/1425/(.*) /blog/tmp-uv-integration [R=301,L]
RewriteRule ^methods/1455/(.*) /blog/chrome-alum-gelatin-slide-coating [R=301,L]
RewriteRule ^methods/1422/(.*) /blog/c-elegans-embryo-staining [R=301,L]
RewriteRule ^methods/1444/(.*) /blog/purification-of-6x-his-proteins [R=301,L]
RewriteRule ^methods/1501/(.*) /blog/hss-depletion-conditions-for-xkcm1 [R=301,L]
RewriteRule ^methods/1464/(.*) /blog/dna-extraction-chelex [R=301,L]
RewriteRule ^methods/1504/(.*) /blog/automatic-unzipuntar-using-correct-tool [R=301,L]
RewriteRule ^methods/12/(.*) /blog/differentiation-to-m1m2-macrophages-gm-csfm-csf [R=301,L]
RewriteRule ^methods/1336/(.*) /blog/extracting-cholesterol-and-lipids-from-cells [R=301,L]
RewriteRule ^methods/1527/(.*) /blog/installing-google-earth-on-ubuntu [R=301,L]
RewriteRule ^methods/11/(.*) /blog/hl-60-differentiation-to-neutrophilsmonocytes [R=301,L]
RewriteRule ^methods/1385/(.*) /blog/preparation-of-sonicated-salmon-sperm-dna [R=301,L]
RewriteRule ^methods/1378/(.*) /blog/phosphatase-removal-of-po4-groups-from-dna [R=301,L]
RewriteRule ^methods/1441/(.*) /blog/c-elegans-microinjection [R=301,L]
RewriteRule ^methods/20/(.*) /blog/10-ammonium-persulphate-solution [R=301,L]
RewriteRule ^methods/1528/(.*) /blog/collaborate-in-the-shell-with-screen-multiuser [R=301,L]
RewriteRule ^methods/1375/(.*) /blog/agarose-gel-electrophoresis [R=301,L]
RewriteRule ^methods/1468/(.*) /blog/initialize-git-repository-from-local-files [R=301,L]
RewriteRule ^methods/26/(.*) /blog/bouins-fluid-fixation [R=301,L]
RewriteRule ^methods/1435/(.*) /blog/colloidal-coomassie-blue-solution [R=301,L]
RewriteRule ^methods/1490/(.*) /blog/install-homebrew-package-manager-for-mac [R=301,L]
RewriteRule ^methods/1366/(.*) /blog/100-mm-sodium-orthovanadate [R=301,L]
RewriteRule ^methods/1392/(.*) /blog/lacritin-calcium-signaling-assay [R=301,L]
RewriteRule ^methods/1355/(.*) /blog/1m-dithiothreitol-dtt [R=301,L]
RewriteRule ^methods/1519/(.*) /blog/use-bash-brace-expansion-to-save-hoursdays [R=301,L]
RewriteRule ^methods/1491/(.*) /blog/control-r-through-your-history [R=301,L]
RewriteRule ^methods/1522/(.*) /blog/control-console-with-sysreq [R=301,L]
RewriteRule ^methods/1428/(.*) /blog/m9-plates-leu [R=301,L]
RewriteRule ^methods/1459/(.*) /blog/nickel-dab-n-dab-labeling [R=301,L]
RewriteRule ^methods/1377/(.*) /blog/dna-fragment-isolation [R=301,L]
RewriteRule ^methods/1502/(.*) /blog/in-gel-tryptic-digest-for-protein-id-by-ms [R=301,L]
RewriteRule ^methods/10/(.*) /blog/restoration-from-dmso-cryopreservation [R=301,L]
RewriteRule ^methods/1420/(.*) /blog/antibody-purification-using-blotted-antigen [R=301,L]
RewriteRule ^methods/1536/(.*) /blog/control-memcached-from-the-command-line [R=301,L]
RewriteRule ^methods/31/(.*) /blog/michels-fixative-for-immunofluorescence [R=301,L]
RewriteRule ^methods/14/(.*) /blog/macs-cd14-separation-of-monocytes [R=301,L]
RewriteRule ^methods/1434/(.*) /blog/embryo-4d-micro-zeiss-axioplan-2-axiovision-45 [R=301,L]
RewriteRule ^methods/1517/(.*) /blog/install-cinnamon-on-ubuntu-1204 [R=301,L]
RewriteRule ^methods/1363/(.*) /blog/30-x-alcl3 [R=301,L]
RewriteRule ^methods/19/(.*) /blog/5x-western-blot-loading-buffer [R=301,L]
RewriteRule ^methods/1467/(.*) /blog/pcr-product-clean-up-sapexo [R=301,L]
RewriteRule ^methods/28/(.*) /blog/formol-sublimate-fixation [R=301,L]
RewriteRule ^methods/49/(.*) /blog/organotypic-raft-culture-of-phks [R=301,L]
RewriteRule ^methods/1446/(.*) /blog/tissue-preparation-for-vibratome-sectioning [R=301,L]
RewriteRule ^methods/1351/(.*) /blog/1-m-hepes-ph-70 [R=301,L]
RewriteRule ^methods/1450/(.*) /blog/cresyl-violet-staining-nissl-staining [R=301,L]
RewriteRule ^methods/119/(.*) /blog/dna-extraction-from-agarose-gels-spin-column [R=301,L]
RewriteRule ^methods/1374/(.*) /blog/immunostaining-of-paraffin-sections [R=301,L]
RewriteRule ^methods/24/(.*) /blog/proteinase-k-treatment [R=301,L]
RewriteRule ^methods/1452/(.*) /blog/dewaxing-paraffin-sections [R=301,L]
RewriteRule ^methods/1524/(.*) /blog/django-threaded-comments [R=301,L]
RewriteRule ^methods/1369/(.*) /blog/l-b-broth [R=301,L]
RewriteRule ^methods/1436/(.*) /blog/colloidal-coomassie-blue-stain [R=301,L]
RewriteRule ^methods/1506/(.*) /blog/quickly-serve-a-folder-via-web-server [R=301,L]
RewriteRule ^methods/1350/(.*) /blog/1m-mgso4 [R=301,L]
RewriteRule ^methods/1448/(.*) /blog/immunohistochemistry-with-tsa [R=301,L]
RewriteRule ^methods/1498/(.*) /blog/dna-extraction-from-cheek-cells [R=301,L]
RewriteRule ^methods/1376/(.*) /blog/dna-ligation [R=301,L]
RewriteRule ^methods/1530/(.*) /blog/kill-unresponsive-applications-on-linux [R=301,L]
RewriteRule ^methods/1505/(.*) /blog/find-top-404-error-pages-apache [R=301,L]
RewriteRule ^methods/22/(.*) /blog/preparation-for-microdissection-paraffinfrozen [R=301,L]
RewriteRule ^methods/1426/(.*) /blog/silica-based-plasmid-miniprep-vacuum-manifold [R=301,L]
RewriteRule ^methods/47/(.*) /blog/raft-culture-media [R=301,L]
RewriteRule ^methods/40/(.*) /blog/chromosome-fish [R=301,L]
RewriteRule ^methods/1451/(.*) /blog/luxol-fast-blue-staining [R=301,L]
RewriteRule ^methods/32/(.*) /blog/fixation-with-paraformaldehyde [R=301,L]
RewriteRule ^methods/1393/(.*) /blog/heparanase-western-blotting [R=301,L]
RewriteRule ^methods/1338/(.*) /blog/phem-500-mls-2x [R=301,L]
RewriteRule ^methods/46/(.*) /blog/pcr-mutagenesis [R=301,L]
RewriteRule ^methods/1526/(.*) /blog/bash-command-substitution [R=301,L]
RewriteRule ^methods/1337/(.*) /blog/50-mm-tris-ph-80-10-mm-edta [R=301,L]
RewriteRule ^methods/37/(.*) /blog/measuring-cell-fluorescence-using-imagej [R=301,L]
RewriteRule ^methods/1423/(.*) /blog/rna-isolation-trizol-method [R=301,L]
RewriteRule ^methods/1345/(.*) /blog/high-salt-buffer [R=301,L]
RewriteRule ^methods/1352/(.*) /blog/1-m-pipes-ph-69 [R=301,L]
RewriteRule ^methods/1500/(.*) /blog/crude-depletion-conditions-for-xkcm1 [R=301,L]
RewriteRule ^methods/1388/(.*) /blog/endotoxin-assay [R=301,L]
RewriteRule ^methods/1381/(.*) /blog/lacritin-pkca-signaling-assay [R=301,L]
RewriteRule ^methods/1373/(.*) /blog/immunostaining-of-cells-adherent-to-coverslips [R=301,L]
RewriteRule ^methods/1473/(.*) /blog/use-screen-to-manage-persistent-sessions [R=301,L]
RewriteRule ^methods/1508/(.*) /blog/set-cdpath-to-ease-folder-navigation [R=301,L]
RewriteRule ^methods/1492/(.*) /blog/re-execute-command-line-with [R=301,L]
RewriteRule ^methods/1494/(.*) /blog/antibody-diluent-for-ihc [R=301,L]
RewriteRule ^methods/44/(.*) /blog/bacterial-colony-screening-by-pcr [R=301,L]
RewriteRule ^methods/1/(.*) /blog/immunohistochemistry [R=301,L]
RewriteRule ^methods/15/(.*) /blog/silaneacetone-silanized-slides [R=301,L]
RewriteRule ^methods/1443/(.*) /blog/zymolyase-plasmid-recovery-from-yeast [R=301,L]
RewriteRule ^methods/121/(.*) /blog/dna-extraction-from-agarose-gels-paper-strip [R=301,L]
RewriteRule ^methods/1445/(.*) /blog/animal-trans-cardial-perfusion-technique [R=301,L]
RewriteRule ^methods/1348/(.*) /blog/pmg-buffer [R=301,L]
RewriteRule ^methods/1365/(.*) /blog/150-mm-mg-amp-pnp [R=301,L]

RewriteRule ^posts/(.*) /blog/$1 [R=301,L]


# Rewrite old urls to new format
RewriteRule ^(methods|applications)/(\d+)/(.*)$ /blog/$3 [R=permanent,L]
RewriteRule ^methods/$ /archives [R=permanent,L]

# Remove trailing slashes.
# e.g. example.com/foo/ will redirect to example.com/foo
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)/$ /$1 [R=permanent,QSA]

# Redirect to HTML if it exists.
# e.g. example.com/foo will display the contents of example.com/foo.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L,QSA]

ErrorDocument 404 /404.html
ErrorDocument 403 /403.html

